
.navbar {
  border-radius: 0;
}

.navbar-default {
    background: $black;
    background-color: $black;
    border-color: $black;

  .navbar-nav {
    float: none;
    margin: 0;
    text-align: center;

      li>a {
        color: $white;
        padding: 15px 30px;
        margin: 0 2px;
        transition: all .2s ease-in-out;
      }
      li>a:hover {
        color: $pureWhite;
      }
  }

  li {
    float: none;
    display: inline-block;
  }

  .fa-user {
    color: $courceDarkOrange;
  }
}