.nav-animation {

  .navbar {
    animation: fadeInDown 1.5s;
  }
}

#main-nav-container {

  .navbar {
    border-radius: 0;
    margin-bottom: 0;
    z-index: 100;
  }

  .navbar-default {
    background: $black;
    background-color: $black;
    border-color: $black;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

    .container-fluid {
      padding: 15px;
      max-height: 80px;

      span.icon-bar.short {
        position: relative;
        left: 12px;
        width: 20px;
      }

      span.icon-bar.long {
        width: 32px;
      }

      i.fa.fa-times {
        color: #e7e7e7;
        font-size: 19px;
        position: relative;
        top: 5px;
        right: 3px;
      }
    }

    .navbar-nav {
      float: none;
      margin: 0;
      text-align: center;

      li>a {
        color: $white;
        padding: 15px 5px;
        margin: 0 25px;
      }

      li>a:focus {
        color: $white;
      }

      li>a:hover {
        color: $pureWhite;
        border-bottom: 1px solid $white;
      }
    }

    .navbar-brand {
      position: absolute;
      bottom: 10px;
      left: 40px;
      padding: 0;

      img {
        height: 40px;
      }
    }

    .toggle-desktop {
      display: block;
      position: absolute;
      right: 10px;
      bottom: 14px;
      border-color: transparent;

      .icon-bar {
        background-color: $white;
      }
    }

    .toggle-desktop:hover,
    .toggle-desktop:focus {
      background-color: transparent;
    }

    li {
      float: none;
      display: inline-block;
    }

    .fa-user {
      color: $courceDarkOrange;
    }
  }

}