
.navbar {
  border-radius: 0;
}

.navbar-default {
    background: $black;
    background-color: $black;
    border-color: $black;

  .container-fluid {
    padding: 15px;
    max-height: 80px;
  }

  .navbar-nav {
    float: none;
    margin: 0;
    text-align: center;

      li>a {
        color: $white;
        padding: 15px 5px;
        margin: 0 25px;
      }
      li>a:focus {
        color: $white;
      }
      li>a:hover {
        color: $pureWhite;
        border-bottom: 1px solid $white;
      }
  }

  .toggle-desktop {
    display: block;
    position: absolute;
    right: 0;
    bottom: 14px;
    border-color: transparent;

    .icon-bar {
      background-color: $white;
    }
  }
  .toggle-desktop:hover,
  .toggle-desktop:focus {
    background-color: transparent;
  }

  li {
    float: none;
    display: inline-block;
  }

  .fa-user {
    color: $courceDarkOrange;
  }
}