form {
  text-align: center;
  height: 100px;
  padding-top: 30px;

  .form {
    display: inline;
    margin: 0 10px;

    label {
      color: $black;
    }

    button {
      background: $courceLightOrange;
      padding: 2px 20px;
    }
  }
}