#homepage-hero-container {
  background-image: url(/static/media/hero-image.b47652db.jpg);
  height: 100vh;
  max-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -40px;

  .hero-content {
    width: 100%;
    max-width: 600px;
    position: relative;
    top: 300px;
    margin-left: 50px;
    color: $white;
  }

}